body {
  background-color: #121212;
  color: #ffffff;
  font-family: sans-serif;
  padding: 2rem;
}
textarea, input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: #1e1e1e;
  color: white;
  border: 1px solid #444;
}
button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}
#anotacoes img {
  max-width: 100px;
  margin: 0.5rem;
}
.anotacao {
  border: 1px solid #444;
  margin-top: 1rem;
  padding: 1rem;
}
